<link rel="stylesheet" type="text/css" href="/static/components/css/scg.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/scs.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/html.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/github.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/disease-section.css" />


<script type="text/javascript" charset="utf-8" src="/static/components/js/sc-web-core.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/scs/scs.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/scg/scg.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/image/image.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/txt/txt.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/html/html.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/youtube/youtubelink.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/map/googlemaplink.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/github/github.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/pdf/pdf.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/disease-section-ui/disease-section.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/sport_section/sport_section.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/fruits_and_vegetables_section/fruits_and_vegetables_section.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/athlets_section/athlets_section.js"></script>

<script type="text/javascript" charset="utf-8" src="/static/components/js/file-saver/FileSaver.min.js"></script>
<style>

#newButton{
display: inline-block;
color: white;
text-decoration: none;
padding: .3em 1em;
outline: none;
border-width: 2px 0;
border-style: solid none;
border-color: #FF4500;
border-radius: 3px;
background: linear-gradient(#F3AE0F, #E38916) #E38916;
transition: 0.2s;
}
</style>
